doctype html
html(ng-app="marathoner")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    script(src='/angular/angular.min.js')
    script(src='/d3/d3.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/script.js')
  body
    block content